body {
  background-color: rgb(228, 223, 214);
  margin: 2rem;
  font-family: serif;
}

.container {
  width: 100%;
  padding: 1rem;
}

.card {
  width: 100%;
  margin-bottom: 1rem;
}

h1 {
  font-size: 5rem;
  margin: 1em;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 1em;
  font-style: normal;
  color: rgb(0, 0, 0);
}

h2 {
  color: rgb(0, 0, 0);
  margin-bottom: auto;
}

h3 {
  margin-bottom: auto;
  color: rgb(108, 108, 70);
}

img {
  width: 100%;
}

nav {
  background-color: rgb(208, 198, 179);
  border: 3px solid #000;
  padding: 10px 16px;
  margin: auto;
  border-radius: 5px;
  line-height: 1.6;
}

nav ul li a {
  color: rgb(0, 0, 0);
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

.cta {
  text-decoration: none;
  display: inline-block;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 10px 16px;
  margin: auto;
  background-color: rgb(180, 237, 244);
  color: rgb(8, 11, 11);
}

p {
  line-height: 1.6;
  max-width: 100%;
  padding: 10px 16px;
}

figcaption {
  font-style: italic;
  color: rgb(136, 133, 133);
}

dl {
  padding: 40px 50px;
  margin: 1em;
  margin-right: 20em;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #e9e964;
  text-decoration: solid;
}

dt {
  font-style: italic;
  line-height: 1.6;
  column-gap: 10%;
}

dd {
  text-decoration: solid;
}

footer {
  background-color: rgb(208, 198, 179);
  margin-top: 7rem;
  border-radius: 5px;
}
